@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glowing effect following the pointer (credits to Hyperplexed - https://www.youtube.com/@Hyperplexed)  */
/* #glow-effect {
  background-color: white;
  height: 8vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: #11c1a2;
  opacity: 0.8;
  z-index: -21;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -20;
  backdrop-filter: blur(12vmax);
} */

/* Rest of the code */
html {
  @apply text-text bg-background;
  scroll-behavior: smooth;
}

main {
  @apply mx-8 md:mx-24;
}

.text-dynamic {
  font-size: calc((1.5rem + 4vw) - 0.1vw);
  @apply 2xl:text-7xl;
}

@media (min-width: 768px) {
  .text-dynamic {
    line-height: 4rem;
  }
}

.btn-primary {
  @apply bg-primary text-background p-4 font-bold rounded-lg transition ease-in duration-150 text-base;
}

.btn-primary:hover {
  background-color: #00a688;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl font-bold;
}

/* Project Cards */
@property --myColor1 {
  syntax: "<color>";
  initial-value: rgba(0, 0, 0, 0);
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: rgba(0, 0, 0, 0);
  inherits: false;
}

.project-card {
  @apply transition ease-in duration-200;
  background: linear-gradient(var(--myColor1), var(--myColor2));
  transition: --myColor1 500ms, --myColor2 500ms;
}

.project-card:hover {
  cursor: pointer;
  --myColor1: rgba(220, 255, 249, 0.1);
  --myColor2: rgb(200, 253, 244);
}

.project-card:active {
  --myColor1: rgba(220, 255, 249, 0.1);
  --myColor2: rgb(200, 253, 244);
}

/* Name underlines */
.underline-span-1,
.underline-span-2 {
  position: relative;
  display: inline-block;
}

.underline-span-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.15rem;
  width: 100%;
  height: 7px;
  background-color: #ededed;
}

.underline-span-2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.15rem;
  width: 100%;
  height: 7px;
  background-color: #11c1a2;
}

/* Technologies */
.technologies > li {
  @apply flex flex-col items-center;
}

.technologies > li:hover .tech-name {
  @apply text-text;
}

.technologies > li:hover svg {
  @apply transform scale-105;
  transition: transform ease-in 0.2s;
}

.technologies > li > svg {
  @apply w-14 h-14;
}

.tech-name {
  @apply text-xs mt-2 text-slate-500 transition ease-in duration-150;
}

/* contact section */
.contact-links div:hover {
  @apply text-primary transition duration-150 cursor-pointer;
}

/* Navbar items */
.navbar-items > li {
  @apply relative;
}
.navbar-items > li:hover {
  @apply text-primary transition duration-150 cursor-pointer;
}

.navbar-items > li::after {
  @apply bg-primary;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.navbar-items > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
